
.profilecard{
    min-height: 35vh;
    min-width: 20vw;
    max-width: 20vw;
    /* border: 1px solid black; */
   display: flex;
   flex-direction: column;
   row-gap: 1vh;
    border-radius: 25px;
    background-color: white;
    
}
.profilecard:hover{
    /* transform: scale(1.15); 
    box-shadow: 1px 1px black; */
    box-shadow: 1px 4px 7px grey;
} 

.backGDiv{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: rgb(164, 179, 183);
    
    height: 17vh;
}
.imageGdiv{
    padding-left: 33%;
    margin-top: -50px;

}
.describclass{
    padding: 1vw;
    height: 6vh;
}
.chipsfordiv{
    padding: 1vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 4px;
    height: 5vh;
}


.connectbutton{
    padding: 2vh;
    color: rgb(46,100,188);
    
}














